@font-face {
	font-family: 'Futura PT Book';
	src: url('../fonts/subset-FuturaPT-Book.woff2') format('woff2'),
		url('../fonts/subset-FuturaPT-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/subset-FuturaPT-Medium.woff2') format('woff2'),
		url('../fonts/subset-FuturaPT-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/subset-FuturaPT-Bold.woff2') format('woff2'),
		url('../fonts/subset-FuturaPT-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Futura PT', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #f9f9f9;
	color: #333333;
	background-image: url('../img/bg.png');
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1360px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.site-header {
	position: relative;
	z-index: 1;
}
.logo {
	position: absolute;
	z-index: 1;
	left: calc(50% - 630px);
	top: 21px;
}
.logo:hover {
	opacity: 0.8;
}
.logo:active {
	opacity: 0.6;
}
.header-top {
	padding-top: 11px;
	padding-bottom: 9px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	background-color: #f9f8f8;
}
.header-top-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.header-top-address {
	display: flex;
	align-items: center;
	font-style: normal;
	margin-right: 106px;
	white-space: nowrap;
}
.header-top-address::before {
	width: 14px;
	height: 13px;
	background-image: url('../img/address.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 9px;
	content: '';
}
.calls-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-right: 98px;
}
.calls-list::before {
	width: 13px;
	height: 13px;
	background-image: url('../img/call.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 9px;
	content: '';
}
.calls-item {
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.calls-item + .calls-item::before {
	width: 4px;
	height: 4px;
	background-image: url('../img/circle.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 9px;
	margin-left: 9px;
	content: '';
}
.calls-link {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	transition: color 0.3 ease;
}
.calls-link:hover {
	color: #ffbd54;
}
.calls-link:active {
	color: rgba(51, 51, 51, 0.6);
}
.header-top-date {
	display: flex;
	align-items: center;
}
.header-top-date::before {
	width: 14px;
	height: 14px;
	background-image: url('../img/data.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 9px;
	content: '';
}
.date-text {
	margin-top: 0;
	margin-bottom: 0;
	white-space: nowrap;
	margin-right: 10px;
}

.header-bottom {
	padding-top: 20px;
	padding-bottom: 20px;
	/* padding-left: 350px; */
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	background-color: #fff;
}
.header-bottom-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-right: 163px;
}
.header-nav-item {
	white-space: nowrap;
}
.header-nav-item + .header-nav-item {
	margin-left: 55px;
}
.header-nav-item-active {
	display: flex;
	align-items: center;
}
.header-nav-item-active::before {
	width: 15px;
	height: 15px;
	background-image: url('../img/fish-active.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 9px;
	content: '';
}
.header-nav-link {
	position: relative;
	z-index: 1;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
	white-space: nowrap;
}
.header-nav-link::after {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 4px;
	background-color: transparent;
	content: '';
}
.header-nav-link:hover::after {
	background-color: #f4ffad;
}
.header-nav-link:active {
	opacity: 0.6;
}
.header-nav-quest-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
	margin-left: auto;
}
.header-nav-quest-link::before {
	width: 23px;
	height: 21px;
	background-image: url('../img/lapa.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 5px;
	content: '';
}

/* MAIN */
/* INTRO */
.big-container {
	max-width: 1360px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.intro {
	padding-top: 145px;
	padding-bottom: 290px;
	padding-left: 45px;
	padding-right: 45px;
	background-image: url('../img/cropped-pets.png'),
		url('../img/intro-bg-two.png');
	background-repeat: no-repeat;
	background-position: calc(50% - 350px) 180px, calc(50% + 690px) 380px;
	background-size: 800px, 319px 430px;
}
.intro-info {
	width: 608px;
	margin-left: auto;
}
.intro-heading {
	margin-top: 0;
	margin-bottom: 29px;
	font-weight: bold;
	font-size: 70px;
	line-height: 64px;
}
.intro-heading-blue {
	color: #78c0de;
}
.intro-text {
	width: 495px;
	margin-top: 0;
	margin-bottom: 38px;
	font-size: 16px;
	line-height: 21px;
	color: #949494;
}
.button {
	display: inline-block;
	vertical-align: baseline;
	padding: 15px 35px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	background-color: #333333;
	border-radius: 3px;
}
.button:hover {
	color: #333333;
	background-color: #ffbd54;
}
.button:active {
	color: #333333;
	background-color: #ffbd54;
	opacity: 0.6;
}

/* QUOTE */
.quote {
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url('../img/open.png'), url('../img/close.png');
	background-repeat: no-repeat;
	background-size: 55px 45px;
	background-position: calc(50% - 450px) 20px, calc(50% + 450px) 100px;
	margin-bottom: 90px;
}
.quote-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.quote-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 35px;
	width: 753px;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	color: #949494;
}
.quote-text::before {
	display: inline-block;
	width: 140px;
	height: 1px;
	background-color: #dbdbdb;
	margin-bottom: 43px;
	content: '';
}
.quote-text::after {
	display: inline-block;
	width: 140px;
	height: 1px;
	background-color: #dbdbdb;
	margin-top: 35px;
	content: '';
}
.quote-author {
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
}

/* SERVICES */
.services {
	margin-bottom: 230px;
	position: relative;
	z-index: 1;
}

.services-heading {
	margin-top: 0;
	margin-bottom: 80px;
	font-weight: bold;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
}
.services-button {
	border: none;
	background-color: transparent;
}
.services-button-prev {
	position: absolute;
	z-index: 1;
	top: 30%;
	left: 7%;
}
.services-button-next {
	position: absolute;
	z-index: 1;
	top: 30%;
	right: 7%;
}
.button-img {
	width: 14px;
	height: 26px;
	display: block;
}
.list-wrapper {
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
}
.services-list {
	display: flex;
	flex-wrap: nowrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-width: 1220px;
	overflow: hidden;
}
.services-item {
	width: 193px;
	margin-bottom: 15px;
	/* margin-right: 7px;
	margin-left: 6px; */
}
.services-item + .services-item {
	margin-left: 13px;
}
.services-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px 35px;
	background-color: #fff;
	border: 1px solid #f3f3f3;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
	height: 100%;
	width: 193px;
}
.services-link::before {
	display: block;
	width: 78px;
	height: 78px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-bottom: 20px;
	text-align: center;
	content: '';
}
.doctor .services-link::before {
	background-image: url('../img/doctor.png');
}
.girl-doc .services-link::before {
	background-image: url('../img/girl-doctor.png');
}
.ill-dog .services-link::before {
	background-image: url('../img/ill-dog.png');
}
.derm .services-link::before {
	background-image: url('../img/derm.png');
}
.labo .services-link::before {
	background-image: url('../img/labo.png');
}
.plus-dog .services-link::before {
	background-image: url('../img/plus-dog.png');
}
.uzi .services-link::before {
	background-image: url('../img/uzi.png');
}
.injec .services-link::before {
	background-image: url('../img/injec.png');
}
.passport .services-link::before {
	background-image: url('../img/passport.png');
}
.vac .services-link::before {
	background-image: url('../img/vac.png');
}
.stom .services-link::before {
	background-image: url('../img/stom.png');
}
.home .services-link::before {
	background-image: url('../img/home.png');
}

.services-active .services-link {
	position: relative;
	z-index: 1;
	border: 0;
	border-radius: 5px 5px 0px 0px;
}
.services-active .services-link::after {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 100%;
	display: block;
	width: 100%;
	height: 15px;
	background-color: #fff;
	content: '';
}
.service-info-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.service-info-item {
	background-color: #fff;
	padding: 75px 35px;
	background-image: url('../img/cat.jpg');
	background-position: calc(50% - 300px) center;
	background-repeat: no-repeat;
	background-size: auto 329px;
}
.info-item-box {
	width: 473px;
	margin-left: auto;
}
.info-item-box-heading {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 32px;
}
.info-item-box-text {
	margin-top: 0;
	margin-bottom: 14px;
	font-size: 16px;
	line-height: 21px;
	color: #949494;
}
.second-row {
	margin-bottom: 34px;
}
.buttons-box {
	display: flex;
	align-items: center;
}
.yellow-button {
	display: inline-block;
	color: #fff;
	background-color: #ffbd54;
}
.yellow-button:hover {
	background-color: #333333;
	color: #ffbd54;
}
.yellow-button:active {
	background-color: #333333;
	color: #ffbd54;
	opacity: 0.6;
}
.money-button {
	display: flex;
	align-items: center;
	margin-right: 21px;
}
.money-button::before {
	display: block;
	width: 22px;
	height: 21px;
	background-image: url('../img/money.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	content: '';
	margin-right: 7px;
}
.document-button {
	display: flex;
	align-items: center;
}
.document-button::before {
	display: block;
	width: 21px;
	height: 21px;
	background-image: url('../img/document.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	content: '';
	margin-right: 5px;
}
/* SUBSCRIPTION */
.subscribe {
	position: relative;
	z-index: 1;
	padding-top: 100px;
	padding-bottom: 50px;
	background-image: url('../img/maskgroup.png');
	background-size: cover;
	background-repeat: no-repeat, repeat;
	background-position: center center;
	background-color: #78c0de;
	margin-bottom: 216px;
}
.subscribe::after {
	position: absolute;
	z-index: 1;
	width: 613px;
	height: 481px;
	bottom: -26%;
	left: calc(50% + 100px);
	display: block;
	background-image: url('../img/dog-groom.png');
	background-repeat: no-repeat;
	content: '';
}
.subscribe-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 563px;
	margin-left: 300px;
}
.subscribe-heading {
	text-align: center;
	margin-top: 0;
	margin-bottom: 32px;
	font-weight: bold;
	font-size: 48px;
	line-height: 20px;
	color: #ffffff;
}
.subscribe-form {
	display: flex;
	justify-content: center;
}
.subscribe-input {
	width: 335px;
	padding: 10px 22px;
	background: #ffffff;
	border-radius: 5px;
	border: none;
	border: 2px solid transparent;
	margin-right: 21px;
}
::placeholder {
	font-size: 16px;
	line-height: 20px;
	color: #949494;
}
.subscribe-input:focus {
	outline: none;
	border: 2px solid #ffbd54;
}
.subscribe-input:not(:placeholder-shown):invalid {
	outline: none;
	border: 2px solid #dc4d41;
	color: #dc4d41;
}
.real-button {
	border: none;
	padding: 15px 50px;
}
/* ARTICLES */
.articles {
	margin-bottom: 262px;
}
.articles-heading {
	margin-top: 0;
	margin-bottom: 80px;
	font-weight: bold;
	font-size: 48px;
	line-height: 20px;
	text-align: center;
}
.articles-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.article {
	display: inline-flex;
	align-items: center;
	/* border: 1px solid #F3F3F3; */
	border-radius: 5px;
}
.article + .article {
	margin-left: 24px;
}
.article-img {
	display: block;
	width: 305px;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.article-info {
	padding: 37px 30px;
	background: #ffffff;
	height: 100%;
}
.article-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 31px;
}
.hashtag-list {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	color: #3d9cea;
}
.hashtag + .hashtag {
	margin-left: 7px;
}
.article-date {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #949494;
}
.article-heading {
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 26px;
	line-height: 29px;
	width: 193px;
}
.article-text {
	margin-top: 0;
	margin-bottom: 33px;
	width: 290px;
	font-size: 16px;
	line-height: 20px;
	color: #949494;
}
.article-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
}
.article-link:hover {
	color: #ffbd54;
}
.article-link:active {
	color: rgba(51, 51, 51, 0.6);
}
.article-link::before {
	width: 23px;
	height: 21px;
	background-image: url('../img/lapa.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 5px;
	content: '';
}
.article-item {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 305px;
}
.small-article-info {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.small-article-img {
	display: block;
	width: 305px;
	height: 180px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.small-article-date {
	margin-bottom: 2px;
	align-self: flex-end;
}
.small-article-heading {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 22px;
	line-height: 25px;
	color: #000000;
}
/* about */
.about {
	display: flex;
	width: 100%;
	margin-bottom: 247px;
}
.map-img {
	display: block;
	width: 462px;
	height: 652px;
}
.about-right {
	width: 100%;
	background-image: url('../img/gold-fish.png');
	/* background-repeat: no-repeat; */
	background-position: calc(50% - 100px) center;
	background-color: #333333;
	padding: 62px 166px;
}

.about-heading {
	margin-top: 0;
	margin-bottom: 14px;
	font-weight: bold;
	font-size: 48px;
	line-height: 62px;
	color: #fff;
	width: 360px;
}
.about-text {
	margin-top: 0;
	margin-bottom: 22px;
	font-size: 16px;
	line-height: 20px;
	color: #949494;
	width: 334px;
}
.about-form {
	display: inline-flex;
	flex-direction: column;
	width: 375px;
}
.about-input {
	margin-top: 7px;
	margin-bottom: 7px;
	padding: 15px 20px;
	border: 2px solid transparent;
}
.about-input:focus {
	outline: none;
	border: 2px solid #ffbd54;
}
.about-input:not(:placeholder-shown):invalid {
	outline: none;
	border: 2px solid #dc4d41;
	color: #dc4d41;
}
.about-textarea {
	height: 165px;
	color: #949494;
	margin-bottom: 23px;
}
.form-button {
	align-self: start;
	border: none;
}

/* Footer */
.site-footer {
	padding-top: 61px;
	padding-bottom: 23px;
	background: #f3f3f3;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
}
.footer-container {
	display: flex;
	align-items: flex-start;
	margin-bottom: 63px;
}
.footer-logo {
	margin-right: 67px;
}
.footer-nav {
	display: flex;
	align-items: center;
	margin-right: auto;
}
.footer-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footer-list + .footer-list {
	margin-left: 87px;
}
.footer-nav-item {
	margin-top: 7px;
	margin-bottom: 7px;
}
.footer-nav-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
	text-decoration: none;
}
.footer-nav-link:hover {
	color: #ffbd54;
}
.footer-nav-link:active {
	color: rgba(51, 51, 51, 0.6);
}
.footer-date {
	position: relative;
	z-index: 1;
	margin-right: 137px;
}
.footer-date-text {
	margin-top: 0;
	margin-bottom: 3px;
}
.footer-address {
	display: flex;
	align-items: center;
	font-style: normal;
	margin-right: 112px;
}
.footer-calls {
	position: relative;
	z-index: 1;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.footer-calls-item {
	margin-bottom: 4px;
}
.footer-calls-link {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
}
.footer-calls-link:hover {
	color: #ffbd54;
}
.footer-calls-link:active {
	color: rgba(51, 51, 51, 0.6);
}
.footer-address::before {
	display: block;
	width: 14px;
	height: 13px;
	background-image: url('../img/address.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 9px;
	margin-bottom: 12px;
	content: '';
}
.footer-date::before {
	position: absolute;
	z-index: 1;
	right: 100%;
	top: 5px;
	width: 14px;
	height: 14px;
	background-image: url('../img/data.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 9px;
	margin-bottom: 12px;
	content: '';
}
.footer-calls::before {
	position: absolute;
	z-index: 1;
	right: 100%;
	top: 5px;
	width: 13px;
	height: 13px;
	background-image: url('../img/call.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin-right: 9px;
	margin-bottom: 12px;
	content: '';
}
.footer-copyright {
	text-align: right;
	font-size: 14px;
	line-height: 18px;
	color: #5c5c5c;
}
.article-not-active {
	display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
	.doctor .services-link::before {
		background-image: url('../img/doctor@2x.png');
	}
	.girl-doc .services-link::before {
		background-image: url('../img/girl-doctor@2x.png');
	}
	.ill-dog .services-link::before {
		background-image: url('../img/ill-dog@2x.png');
	}
	.derm .services-link::before {
		background-image: url('../img/derm@2x.png');
	}
	.labo .services-link::before {
		background-image: url('../img/labo@2x.png');
	}
	.plus-dog .services-link::before {
		background-image: url('../img/plus-dog@2x.png');
	}
	.uzi .services-link::before {
		background-image: url('../img/uzi@2x.png');
	}
	.injec .services-link::before {
		background-image: url('../img/injec@2x.png');
	}
	.passport .services-link::before {
		background-image: url('../img/passport@2x.png');
	}
	.vac .services-link::before {
		background-image: url('../img/vac@2x.png');
	}
	.stom .services-link::before {
		background-image: url('../img/stom@2x.png');
	}
	.home .services-link::before {
		background-image: url('../img/home@2x.png');
	}
	.about-right {
		background-image: url('../img/gold-fish@2x.png');
	}
	.subscribe::after {
		background-image: url('../img/dog-groom@2x.png');
	}
	.subscribe {
		background-image: url('../img/maskgroup@2x.png');
	}
	.service-info-item {
		background-image: url('../img/cat.jpg');
	}
	.quote {
		background-image: url('../img/open@2x.png'), url('../img/close@2x.png');
	}
	/* .intro {
		background-image: url('../img/intro-bg@2x.png'),
			url('../img/intro-bg-two@2x.png');
	} */
}
/* SERVICES */
.s-main {
	padding-top: 110px;
	padding-bottom: 168px;
	background-image: url('../img/parrot.png');
	background-repeat: no-repeat;
	background-size: 435px 435px;
	background-position: right 10px;
}
.s-main-top {
	margin-bottom: 139px;
	margin-left: 112px;
}
.s-main-header {
	margin-top: 0;
	margin-bottom: 21px;
	font-size: 70px;
	line-height: 64px;
	color: #333333;
}
.s-main-text {
	margin-top: 0;
	margin-bottom: 0;
	width: 447px;
	font-size: 16px;
	line-height: 20px;
	color: #949494;
}
.s-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.s-item {
	width: 305px;
	padding: 45px 53px;
	padding-top: 58px;
	background-color: #fff;
	background-image: url(../img/pet-lapa.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: right top;
	margin-top: 33px;
}

.s-img {
	width: auto;
	height: auto;
	display: block;
}
.s-header {
	margin-bottom: 21px;
	flex-grow: 1;
	max-width: 230px;
	font-size: 32px;
	line-height: 34px;
	color: #333333;
}
.s-text {
	margin-top: 0;
	margin-bottom: 26px;
	width: 230px;
	font-size: 16px;
	line-height: 20px;
	color: #949494;
	flex-grow: 1;
}
.s-link {
	padding: 15px 30px;
	display: inline-block;
	font-weight: 450;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;
	border-radius: 3px;
}

.s-item:nth-child(odd) .s-link {
	background-color: #ffbd54;
}
.s-item:nth-child(odd) .s-link:hover {
	background-color: #000;
}
.s-item:nth-child(even) .s-link {
	background-color: #78c0de;
}
.s-item:nth-child(even) .s-link:hover {
	background-color: #000;
}
/* CONTACT */
.c-main {
	padding-top: 110px;
	padding-bottom: 168px;
	background-image: url('../img/contact-dog.png');
	background-repeat: no-repeat;
	background-size: 435px 435px;
	background-position: right 10px;
}
.c-main-top {
	margin-bottom: 139px;
	margin-left: 112px;
}
.c-main-header {
	margin-top: 0;
	margin-bottom: 21px;
	font-size: 70px;
	line-height: 64px;
	color: #333333;
}
.c-main-text {
	margin-top: 0;
	margin-bottom: 0;
	width: 447px;
	font-size: 16px;
	line-height: 20px;
	color: #949494;
}

.c-content {
	width: 656px;
	margin-left: 112px;
	display: flex;
	justify-content: space-between;
}

.c-wrapper {
	width: 153px;
}
.c-img {
	margin-bottom: 26px;
}
.adress-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
}
.c-days {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.c-day {
	margin-bottom: 12px;
}
.c-contacts {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.c-contact {
	margin-bottom: 9px;
}
.c-contact-link {
	text-decoration: none;
	color: #000;
}

.c-find {
	padding-top: 200px;
}
.c-find-header {
	font-weight: bold;
	font-size: 48px;
	line-height: 62px;
	display: flex;
	align-items: center;
	color: #333333;
}
.map-wrapper {
	display: flex;
	align-items: stretch;
}
.c-link {
}
.c-map-img {
	display: block;
	height: 466px;
}
.c-clinic-img {
	display: block;
	height: 466px;
}

/* ABOUT PAGE */
.a-main {
	padding-top: 110px;
	padding-bottom: 200px;
	background-image: url('../img/about-doctor.png');
	background-repeat: no-repeat;
	background-size: 448px 545px;
	background-position: right 10px;
}

.a-main-top {
	padding-bottom: 180px;
}

.about-container {
	background-image: url('../img/lapas.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 100px 180px;
}

.a-content-one {
	display: flex;
	align-items: center;
	background-color: #fff;
}

.a-content-two {
	background-color: transparent;
}

.a-content-text {
	padding: 115px;
}

.cut-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cut-content {
	width: 416px;
	margin-left: 100px;
}
.cut-header {
	font-weight: bold;
	font-size: 46px;
	line-height: 48px;
	color: #333333;
}
.cut-text {
	font-size: 16px;
	line-height: 20px;
	color: #949494;
}
.cut-img {
	border-radius: 5px;
}
.cut-img + .cut-img {
	margin-left: 20px;
}

@media only screen and (max-width: 1428px) {
	.intro {
		background-image: url('../img/cropped-pets.png');
		background-position: calc(50% - 350px) 180px, calc(50% + 690px) 380px;
		background-size: 600px, 319px 430px;
	}
	.intro-heading {
		font-size: 60px;
		line-height: 54px;
	}
}

@media only screen and (max-width: 1266px) {
	.intro-info {
		min-width: 400px;
		margin-left: 700px;
	}
	.intro {
		background-image: url('../img/cropped-pets.png');
		background-position: calc(50% - 270px) 180px;
		background-size: 600px;
	}
	.intro-info {
		min-width: 400px;
		margin-left: 500px;
	}
	.intro-heading {
		font-size: 50px;
		line-height: 44px;
	}
}

@media only screen and (max-width: 1250px) {
	.header-top-date {
		display: none;
	}
	.header-nav-list {
		margin-right: 50px;
	}
	.logo {
		left: calc(50% - 500px);
	}
	.calls-list {
		margin-right: 0;
	}
	.intro {
		background-image: url('../img/intro-bg-two.png');
		background-position: 200px 180px;
		background-size: 230px;
	}
}

@media only screen and (max-width: 1182px) {
	.intro {
		background-image: none;
	}
	.intro-info {
		margin: 0;
	}

	.intro {
		background-image: url('../img/intro-bg-two.png');
		background-position: 700px 100px;
		background-size: 400px;
	}
}

@media only screen and (max-width: 1160px) {
	.header-nav-item + .header-nav-item {
		margin-left: 30px;
	}
}

@media only screen and (max-width: 1120px) {
}

@media only screen and (max-width: 1005px) {
	.logo {
		left: calc(50% - 480px);
	}
}

@media only screen and (max-width: 970px) {
	.logo {
		left: calc(50% - 460px);
	}
	.logo-img {
		width: 150px;
		height: 70px;
	}
}
@media only screen and (max-width: 945px) {
	.header-top-address {
		margin-right: 70px;
	}
	.header-nav-item:last-child {
		display: none;
	}
}

@media only screen and (max-width: 925px) {
	.logo {
		left: calc(50% - 420px);
	}
	.header-nav-item:nth-child(5) {
		display: none;
	}
}

@media only screen and (max-width: 875px) {
	.header-top-address {
		margin-right: 50px;
	}
}

@media only screen and (max-width: 847px) {
	.header-top-address {
		margin-right: 30px;
	}

	.calls-item:last-child {
		display: none;
	}

	.header-top-address {
		margin-right: 70px;
	}

	.logo {
		left: calc(50% - 400px);
	}

	.intro {
		background-image: none;
	}

	.intro-info {
		margin: 0;
	}
}

@media only screen and (max-width: 810px) {
	.logo {
		left: calc(50% - 350px);
	}
}

@media only screen and (max-width: 770px) {
	.header-nav-quest-link {
		display: none;
	}

	.logo {
		left: calc(50% - 300px);
	}
}

@media only screen and (max-width: 690px) {
	.intro-heading {
		font-size: 40px;
		line-height: 34px;
	}
	.intro-info {
		width: auto;
	}
}

@media only screen and (max-width: 635px) {
	.logo-img {
		width: 100px;
		height: 50px;
	}
}

@media only screen and (max-width: 610px) {
	.header-top {
		display: none;
	}

	.header-nav-list {
		margin-right: 0;
	}
	.logo {
		left: calc(50% - 250px);
	}
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 572px) {
	.intro-heading {
		font-size: 30px;
		line-height: 24px;
	}
	.intro-text {
		width: auto;
	}
}

@media only screen and (max-width: 514px) {
	.logo {
		display: none;
	}
}

@media only screen and (max-width: 474px) {
	.intro-text {
		font-size: 15px;
	}
}

@media only screen and (max-width: 456px) {
	.intro {
		padding: 20px;
	}
	.intro-info {
		width: 250px;
	}
	.intro-heading {
		width: 250px;
	}
	.intro-text {
		width: 250px;
	}
}

@media only screen and (max-width: 428px) {
	.header-nav-item + .header-nav-item {
		margin-left: 20px;
	}
}
